<!-- footer start -->

<footer class="site-footer">
  <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> Subscribe</span></a>
    <div class="inner">
      <section class="copyright">All content copyright <a href="mailto:{{ site.email}}">{{ site.name }}</a> &copy; {{ site.time | date: '%Y' }}</section>
      <section class="disclaimer">The postings on this site are my own and do not express the positions, strategies or opinions of Akamai.</section>
      <section class="poweredby">Built with <a href="http://jekyllrb.com"> Jekyll</a> and the <a href="https://github.com/dirkfabisch/mediator">Mediator</a> theme.</section>
      <section class="source">The source for this blog can be found at <a href="https://gitlab.com/hlieberman/setec">gitlab.com</a>.</section>
    </div>
</footer>

{% include piwik.html %}
<!-- footer end -->
